/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End Reset */
* {
    box-sizing: border-box;
}
.wrapper {
    display: inline-block;
    width: 100%;
}

.top-nav {
    width: 100%;
    height: 30px;
    background-color:  rgb(20, 20, 20);
}

.top-nav li {
    float: left;
    margin: 5px 0px 5px 20px;
    color: gray;
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.top-nav li:first-child {
    color: gainsboro;
}

.top-nav-2 {
    width: 100%;
    min-height: 50px;
    background-color: white;
}
.top-nav-2 li {
    float: left;
    margin: 15px 0px 5px 30px;
    color: rgb(140, 140, 140);
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.top-nav-2 ul li:first-child {
    margin-left: 15%;
}
.featured {
    width: 100%;
    padding: 5px;
}

.featured-1 {
    display: inline-block;
    width: 65%;
    height: 450px;
    background-image: url("assets/feature-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    padding: 250px 20px 20px 20px;
}

.title {
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;;
}
.author {
    color: rgb(238, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    margin-top: 20px;
}

.featured-2 {
    float: right;
    width: 34%;
    height: 220px;
    background-image: url("assets/feature-2.jpeg");
    background-image: -webkit-linear-gradient(to bottom, rgba(70, 70, 70, 0.4), url("assets/feature-2.jpg"));
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 20px 20px 20px;
    opacity: 0.75;
}

.featured-2 .title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.featured-3 {
    float: right;
    margin-top: -224px;
    width: 34%;
    height: 220px;
    background-image: url("assets/feature-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.75;
    padding: 20px;
}

.featured-3 .title {
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

.container {
    margin: 50px auto 50px auto;
    max-width: 1200px;
    padding: 5px;
    border: 1px solid blue;
    clear: both;
}

.flex-box {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 0px auto 0px auto;
    padding: 10px;
    text-align: left;
}

.flex-header {
    display: inline-block;
    width: 96%;
    color: red;
    font-size: 24px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
}

.flex-box .news {
    display: flex;
    min-width: 220px;
    max-width: 800px;
    height: 250px;
    flex-grow: 1;
    margin: 10px;

}
.news-title {
    display: inline-block;
    position: relative;
    width: 23%;
    height: 80px;
    margin-top: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.4;
}

@media screen and (max-width: 1006px) {
    .news-title {
        display: inline-block;
        position: absolute;
        width: 30%;
        height: 80px;
        margin-top: 160px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 1.4;
    }
}
.news-author {
    display: inline-block;
    position: absolute;
    margin-top: 230px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: gray;
}
.flex-box .placeholder {
    display: flex;
    min-width: 220px;
    max-width: 800px;
    flex-grow: 1;
    margin: 10px;
}

.latest-1 .news-img {
    width: 100%;
    height: 150px;
    background-image: url("assets/news-1.jpeg");
    background-size: cover;
}

.latest-2 .news-img {
    width: 100%;
    height: 150px;
    background-image: url("assets/news-2.jpg");
    background-size: cover;
}

.latest-3 .news-img {
    width: 100%;
    height: 150px;
    background-image: url("assets/news-3.jpeg");
    background-size: cover;
}
.latest-4 .news-img {
    width: 100%;
    height: 150px;
    background-image: url("assets/news-4.jpg");
    background-size: cover;
}
.latest-5 .news-img {
    width: 100%;
    height: 150px;
    background-image: url("assets/news-5.webp");
    background-size: cover;
}
.latest-6 .news-img {
    width: 100%;
    height: 150px;
    background-image: url("assets/news-6.jpeg");
    background-size: cover;
}
.latest-7 .news-img {
    width: 100%;
    height: 150px;
    background-image: url("assets/news-7.jpeg");
    background-size: cover;
}
.latest-8 .news-img {
    width: 100%;
    height: 150px;
    background-image: url("assets/news-8.jpg");
    background-size: cover;
}
.flex-box .funding {
    display: flex;
    min-width: 220px;
    max-width: 800px;
    min-height: 250px;
    flex-grow: 1;
    margin: 10px;
    border: 1px solid orange;
}

.fund li {
    float: right;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    padding: 5px;
    margin: -20px 0px 0px 0px;
    border-right: 1px solid red;
}

.fund li:first-child {
    border-right: 0px;
}

.flex-box .categories {
    display: flex;
    min-width: 308px;
    max-width: 800px;
    min-height: 650px;
    flex-grow: 1;
    margin: 10px;
    border: 1px solid orange;
}

.flex-box .placeholder-categories {
    display: flex;
    min-width: 308px;
    max-width: 800px;
    flex-grow: 1;
    margin: 10px;
}

.footer {
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 0px;
    background-color: rgb(20, 20, 20);
}

.copyright {
    width: 100%;
    height: 100px;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

@media screen and (max-width: 1025px) {

}

/* 767 width breakpoint */
@media screen and (max-width: 767px) {
    .top-nav {
        display: none;
    }

    .top-nav-2 {
        width: 100%;
        min-height: 150px;
        background-color: white;
    }

    .top-nav-2 ul li:first-child {
        margin-left: 30px;
    }

    .top-nav-2 li {
        float: none;
        display: inline-block;
        margin: 15px 0px 0px 30px;
        color: gray;
        width: 100%;
        background-color: gainsboro;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }


    .featured {
        width: 100%;
        display: block;
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
    }
    .featured-1, .featured-2, .featured-3 {
        margin: 0px 2% 20px 2%;
        width: 96%;
        height: 250px;
        display: block;
        box-sizing: border-box;   
    }
    .featured-1 {
        margin-top: 10px;
    }
    .featured-3 {
        margin-bottom: 50px;
    }

    .container {
        margin: 10px;
    }

    .flex-box .news {
        width: 100%;
        height: 100px;
    }

    .flex-header {
        font-size: 22px;
    }
    .fund li {
        float: none;
        position: relative;
        font-size: 14px;
        font-weight: normal;
        padding: 5px;
        margin: 5px 0px 0px -4px;
        border-right: none;
    }
    
    .flex-box .funding {
        width: 100%;
    }

    .flex-box .funding-4 {
        display: none;
    }

    .flex-box .categories {
        display: flex;
        min-width: 0px;
        width: 100%;
        min-height: 700px;
        flex-grow: 1;
        margin: 10px;
        border: 1px solid orange;
    }

    .deals .deal-8 {
        display: none;
    }
    
}